<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>
    <div class="gradient-style1 text-white box-shadow border-radius-10 height-100-p widget-style3">
      <div class="d-flex flex-wrap align-items-center">
        <div class="widget-data">
          <div class="weight-400 font-20">Server</div>
          <div class="weight-300 font-30">75%</div>
        </div>
        <div class="widget-icon">
          <div class="icon"><i class="fa fa-server" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>