<div class="row">
  <div class="welcome">
    <div class="content rounded-3 p-3">
      <h1 class="fs-3">Welcome to Dashboard</h1>
      <p class="mb-0">Hello Akashjit Nayak, welcome to your awesome dashboard!</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="general-stat-grid card shadow p-4 general-stats">
      <div class="stat-group d-flex justify-content-around align-items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/cloud-functions-playground-01.appspot.com/o/multiple-users-silhouette.svg?alt=media&token=0ad87cb5-875d-4e02-a6ee-018ad54db5b4" class="general-stat-icon" alt="">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 class="my-0 font-weight-bold">{{recordlength[0]}}</h1>
          <h6 class="my-0">Home Loan</h6>
        </div>
      </div>
      <div class="stat-group d-flex justify-content-around align-items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/cloud-functions-playground-01.appspot.com/o/store.svg?alt=media&token=50331150-ef50-4f23-bb13-93f7f9608d2a" class="general-stat-icon" alt="">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 class="my-0 font-weight-bold">{{recordlength[1]}}</h1>
          <h6 class="my-0">Personal Loan</h6>
        </div>
      </div>
      <div class="stat-group d-flex justify-content-around align-items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/cloud-functions-playground-01.appspot.com/o/man-painting.svg?alt=media&token=27104735-f8a6-499b-832b-6df3d0d9cd79" class="general-stat-icon" alt="">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 class="my-0 font-weight-bold">{{recordlength[2]}}</h1>
          <h6 class="my-0">Business Loan</h6>
        </div>
      </div>
      <div class="stat-group d-flex justify-content-around align-items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/cloud-functions-playground-01.appspot.com/o/calendar.svg?alt=media&token=56beee02-dfd9-4774-83b1-617be486e8d9" class="general-stat-icon" alt="">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 class="my-0 font-weight-bold">{{recordlength[3]}}</h1>
          <h6 class="my-0">Insta Loan</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!-- <div class="row">
  <div class="col">
    <mat-card class="dashboard-card">
      <mat-card-content>In publishing and graphic design, Lorem ipsum is a placeholder text commonly</mat-card-content>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="dashboard-card">
      <mat-card-content>In publishing and graphic design, Lorem ipsum is a placeholder text commonly</mat-card-content>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="dashboard-card">
      <mat-card-content>In publishing and graphic design, Lorem ipsum is a placeholder text commonly</mat-card-content>
    </mat-card>
  </div>
</div> -->